.menu {
  margin-right: 24px;
  padding: 24px;
  border-radius: 6px;
  background-color: #F0FFFF;
  width: 240px;

  &-list {
    padding-left: 0;
    li {
      list-style: none;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      font-weight: 600;
      transition: 0.5s all ease;
      text-transform: uppercase;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}