.question-form {
  padding: 40px 26px;
  border-radius: 6px;
  background-color: #E0FFFF;

  &__title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }
}